<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Type Cleanup App</title>
</head>
<body>
    <h2>End of scans</h2>
    <p>You have reached the end of the scans. Please click the 'Finish & Logout' button below to save your responses and return to the homepage. Thank you!</p>
    
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Finish & Logout</button>
    </form>
</body>
</html>
